:root {
--color00: #070324;
--color01: #070324;
--color02: #070324;
--color03: #e8d5b7;
--color04: #b8a88a;
--color05: #e8d5b7;
--color06: #b8a88a;
--color07: #b8a88a;
--color08: #de6448;
--color09: #d4a54a;
--color0A: #d4a54a;
--color0B: #30dd50;
--color0C: #6a9a9a;
--color0D: #4c99e5;
--color0E: #bd6ee1;
--color0F: #de6448;
}
